*::before,
*::after,
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$colors: (
    "first-color": #fdf6d2,
    "second-color": #ffd200
);

$fonts: (
    "main-font": Raleway,
    "second-font": Pacifico
);

$form-smobile-width: 200px;

$mobile-small: 'only screen and (min-device-width: 320px) and (max-device-width: 568px)';

$mobile-ip6: 'screen and (min-device-width: 375px) and (max-device-width: 667px)';

$long-mobile: 'only screen and (min-device-height: 700px) and (max-device-width: 430px)';

$mobile-large: 'only screen and (min-device-width: 375px) and (max-device-width: 830px) and (-webkit-min-device-pixel-ratio: 3)';

$tablet: 'only screen and (min-width: 480px) and (max-width: 1200px)';
$desktop: 'only screen and (min-width: 1200px)';

@mixin flex ($-jcont, $-aitem, $-fdir){
    display: flex;
    justify-content: $-jcont;
    align-items: $-aitem;
    flex-direction: $-fdir;
}

@mixin font($-fsize, $-fweight){
    font-size: $-fsize;
    font-weight: $-fweight;
}

body{
    @include flex(space-between, normal, column);
    // align-content: space-between;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: map-get($map: $colors, $key: first-color);
    font-family: map-get($map: $fonts, $key: main-font);
    

    //fixed long mobile main container display
    @media #{$long-mobile}{
        justify-content: normal;
    }
}


header{
    @include flex(space-between, center, row);
    position: relative;
    // padding: .7rem 1rem .7rem 1.3rem;
    width: 100%;
    height: 50px;
    background-color: white;


    @media #{$mobile-ip6}{
        height: 100px;
    }

    .logo{
        position: relative;
        width: 90px;
        height: 40px;
        background: url('../assets/logo.png') no-repeat center;
        background-size: cover;
    }
}

main{

    position: relative;
    width: 100%;
    height: auto;
    // top: 0;
    // left: 0;

    //container with "Tak jak ty..." text and two meal pictures 
    .first-container{
        @include flex(space-between, center, row);
        height: 13rem;
        background: url("../assets/kotlet_tlo.png") repeat center;
        overflow: hidden;
        position: relative;


        @media #{$mobile-large}{
            height: 17rem;
        }

        //left meal picture
        // &::before{
        //     content: '';
        //     position: relative;
        //     top: 1.2rem;
        //     left: -2rem;
        //     width: 45%;
        //     height: 100%;
        //     background: url("../assets/drugi_kotlet.png") no-repeat center;
        //     background-size: cover;
            
        //     @media #{$mobile-large}{
        //         top: 1.5rem;
        //     }
        // }

        // //right meal picture
        // &::after{
        //     content: '';
        //     position: relative;
        //     top: -2rem;
        //     right: -2rem;
        //     width: 45%;
        //     height: 100%;
        //     background: url("../assets/kotlet.png") no-repeat center;
        //     background-size: cover;

        //     @media #{$mobile-large}{
        //         top: -2.55rem;
        //     }
        // }

        //"Tak jak ty,..." text
        .main-text{
            @include font(1.33rem, normal);
            font-family: map-get($map: $fonts, $key: "second-font");
            text-align: center;
            color: map-get($map: $colors, $key: "second-color");
            position: absolute;
            top: 3rem;
            // margin: 0 0 4rem 0;
            width: 100%;

            @media #{$mobile-large}{
                font-size: 1.4rem;
                top: 5.5rem
            }
        }

    }
    
    //form container
    .second-container{
        @include flex(center, normal, row);
        position: relative;
        top: -3rem;
        
        .form-container{
            @include flex(center, center, column);
            background-color: white;
            width: 90%;
            padding: 1rem 2rem;
            border-radius: 10px;
            box-shadow: 2px 4px 7px 0px rgba(131, 131, 131, 0.3);

            //"Specjalne okazje!" text
            .form-head-text{
                @include font(1.3rem, 700);
                margin: 0 0 .5rem 0;

                @media #{$mobile-large}{
                    font-size: 1.5rem;
                }
            }

            //"Zapisz sie" text
            .form-second-text{
                @include font(.5rem, 400);
                letter-spacing: .2px;
                line-height: .9rem;
                width: $form-smobile-width;
                border-left: 4px solid map-get($map: $colors, $key: second-color);
                padding-left: .3rem;
                margin: 0 0 0.5rem 0;
                border-radius: 3px;
            }

            //whole form styling 
            .form{
                @include flex(normal, center, column);
                // align-content: center;
                width: $form-smobile-width;

                .form-labels{
                    @include font(.5rem, 500);
                    margin: .5rem 0 .3rem 0;
                    width: $form-smobile-width;

                    @media #{$mobile-large}{
                        font-size: .55rem;
                    }
                }

                .input{
                    @include font(.6rem, 500);
                    font-family: map-get($map: $fonts, $key: main-font);
                    padding: .3rem .3rem;
                    border: none;
                    background-color: rgb(226, 226, 226);
                    border-radius: 3px;
                    width: $form-smobile-width;

                    &:focus{
                        border: .5px solid grey;
                        outline: none;
                    }
                }

                .policy-text{
                    @include font(.2rem, 600);
                    text-align: center;
                    padding: .5rem 0;
                    border-bottom: .5px solid rgb(226, 226, 226);
                }

                .send-button{
                    @include font(.5rem, 700);
                    font-family: map-get($map: $fonts, $key: main-font);
                    width: 5rem;
                    height: 1.8rem;
                    background-color: map-get($map: $colors, $key: second-color);
                    border: none;
                    box-shadow: 2px 2px 7px 0px rgba(131, 131, 131, 0.432);
                    margin: 1rem 0 0 0;
                    border-radius: 4px;

                    // @media #{$mobile-huge}{
                    //     width: 5rem;
                    //     height: 1.8rem;
                    // }
                }
            }

        }
        
    }
}

//footer
footer{
    position: relative;
    width: 100vw;
    @include flex(space-between, normal, row);
    padding: 1.5rem 1.5rem;

    //this fixed main and footer container position   
    @media #{$long-mobile}{
        position: absolute;
        bottom: 0;
    }
    
    //yellow rectangle
    &::before{
        content: "";
        position: absolute;
        width: 2rem;
        height: .3rem;
        left: 1.5rem;
        top: -.5rem;
        background-color: map-get($map: $colors, $key: second-color);
        border-radius: 4px;
    }

    //nav for lazy people 
    .footer-nav{
        @include font(.55rem, 500);
        
        h4{
            margin: 0 0 .4rem 0;
        }

        ul{
            @include flex(flex-start, normal, column);
            @include font(.4rem, 400);
            list-style-type: none;
            padding: 0;

            li{
                margin-top: .2rem;

                a{
                    color: black;
                    text-decoration: none;

                    &:visited{
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }

        .social-media-container{
            @include flex (space-between, center, row);
            margin-top: .5rem;
        }
    }
}





